.question {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  text-align: center;
  width: 50%;
}

.question.animate {
  opacity: 1;
  transform: translateY(0);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
